<h1><%= "Plotting: "+ @plot_header %></h1>
<%= @change_controls %>
Change (<a href="fntb">FNTB</a>, <a href="prod">Production</a>, <a href="acy">ACY 2nd floor test</a>)<br>
Change (<a href="response_time">Response Time</a>, <a href="number_of_notams">Number of Notams</a>, <a href="not_parseable">Response Not Parseable</a>)
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<% top_chart_data, scenario_distribution, sample_delta_request,location,accountability,classification_distribution = @get_column_chart_data %>  
<%= column_chart top_chart_data, xtitle: "Delta Request Start Time", ytitle: "#{@plot_header}" %>
<%= column_chart scenario_distribution, xtitle: "Scenario Number", ytitle: "# of Scenarios", colors: ["#153"] %>
<%= column_chart classification_distribution, xtitle: "Classification", ytitle: "# in Classficiation", colors: ["#153"] %>
<% hours = (Time.parse(session[:end_date]) - Time.parse(session[:start_date]))/60.0/60.0 %>
  <table style="width:100">
    <colgroup>
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
    </colgroup>
  <tr>
    <th>Start Date:</th>
    <th>End Date:</th> 
    <th>Duration:</th> 
    <th>Current Time:</th> 
    <th>Shift Range:</th> 
    <th>Expand Range:</th> 
    <th>Show last hour: </th> 
    <th>Show last 12 hours:</th> 
    <th>Show aixm del req (pp):</th> 
    <th>Show aixm del req (raw):</th> 
  </tr>
  <tr>
    <td><%= session[:start_date].to_s %> </td> 
    <td><%= session[:end_date].to_s %> </td> 
    <td><%= hours %> hours or <%= (hours/24).round(2) %> days </td>
    <td> <%= Time.now.to_s %>     </td>
    <td> <a href="shift_left"><</a> <a href="shift_right">></a> </td>
    <td> <a href="expand_left"><<</a> <a href="expand_right">>></a> </td>
    <td> <a href="last_hour">Show last hour</a> </td>
    <td> <a href="last_half_day">Show last 12 hours</a> </td>
    <td> <a href="aixm_delta_request?dr_aixm_date=<%=sample_delta_request.to_s%>"><%= sample_delta_request.to_s %></a> </td>
    <td> <a href="aixm_delta_request_raw?dr_aixm_date=<%=sample_delta_request.to_s%>"><%= sample_delta_request.to_s %></a> </td>
  </tr>
  </table>

  <%= form_tag(controller: "graph", action: "graph", method: "get") do %>
  <%= label_tag(:q, "Start:") %>
  <%= text_field_tag(:start_graph) %>
  <%= label_tag(:q, "End:") %>
  <%= text_field_tag(:end_graph) %>

<table>
  <tr>
    <td>
<table style="width:100">
    <colgroup>
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
    </colgroup>
  <tr>
    <th style="color:blue">Blue FILTER BY:</th>
    <th>Filter In</th> 
    <th>Filter Out</th> 
  </tr>
  <tr>
    <td>Scenarios</td>
    <td>
      <%= text_field_tag(:blue_in_scenarios) %>
    </td> 
    <td>
      <%= text_field_tag(:blue_out_scenarios) %>
    </td> 
  </tr>
  <tr>
    <td>Classification</td>
    <td>
      <%= text_field_tag(:blue_in_classifications) %>
    </td> 
    <td>
      <%= text_field_tag(:blue_out_classifications) %>
    </td> 
  </tr>
  <tr>
    <td>Accountability</td>
    <td>
      <%= text_field_tag(:blue_in_accountabilitys) %>
    </td> 
    <td>
      <%= text_field_tag(:blue_out_accountabilitys) %>
    </td> 
  </tr>
  <tr>
    <td>Locations</td>
    <td>
      <%= text_field_tag(:blue_in_locations) %>
    </td> 
    <td>
      <%= text_field_tag(:blue_out_locations) %>
    </td> 
  </tr>
  <tr>
    <td>xsi:nil="true" present</td>
    <td>
      <%= check_box_tag(:blue_bool_in_xsi_nil_true) %>
      <%= label_tag(:blue_bool_in_xsi_nil_true, "") %>
      <%= @filter_blue.filter_hash[:bool_in_xsi_nil_true].to_s %>
    </td> 
    <td>
      <%= check_box_tag(:blue_bool_out_xsi_nil_true) %>
      <%= label_tag(:blue_bool_out_xsi_nil_true, "") %>
      <%= @filter_blue.filter_hash[:bool_out_xsi_nil_true].to_s %>
    </td> 
  </tr>
  <tr>
    <td>bad href with #</td>
    <td>
      <%= check_box_tag(:blue_bool_in_bad_href) %>
      <%= label_tag(:blue_bool_in_bad_href, "") %>
      <%= @filter_blue.filter_hash[:bool_in_bad_href].to_s %>
    </td> 
    <td>
      <%= check_box_tag(:blue_bool_out_bad_href) %>
      <%= label_tag(:blue_bool_out_bad_href, "") %>
      <%= @filter_blue.filter_hash[:bool_out_bad_href].to_s %>
    </td> 
  </tr>
</table>

    </td>
    <td>
      
    </td>
    <td>
      
  <table style="width:100">
    <colgroup>
      <col style="background-color: silver">
      <col style="background-color: silver">
      <col style="background-color: silver">
    </colgroup>
  <tr>
    <th style="color:red">Red FILTER BY:</th>
    <th>Filter In</th> 
    <th>Filter Out</th> 
  </tr>
  <tr>
    <td>Scenarios</td>
    <td>
      <%= text_field_tag(:red_in_scenarios) %>
    </td> 
    <td>
      <%= text_field_tag(:red_out_scenarios) %>
    </td> 
  </tr>
  <tr>
    <td>Classification</td>
    <td>
      <%= text_field_tag(:red_in_classifications) %>
    </td> 
    <td>
      <%= text_field_tag(:red_out_classifications) %>
    </td> 
  </tr>
  <tr>
    <td>Accountability</td>
    <td>
      <%= text_field_tag(:red_in_accountabilitys) %>
    </td> 
    <td>
      <%= text_field_tag(:red_out_accountabilitys) %>
    </td> 
  </tr>
  <tr>
    <td>Locations</td>
    <td>
      <%= text_field_tag(:red_in_locations) %>
    </td> 
    <td>
      <%= text_field_tag(:red_out_locations) %>
    </td> 
  </tr>
  <tr>
  <tr>
    <td>xsi:nil="true" present</td>
    <td>
      <%= check_box_tag(:red_bool_in_xsi_nil_true) %>
      <%= label_tag(:red_bool_in_xsi_nil_true, "") %>
      <%= @filter_red.filter_hash[:bool_in_xsi_nil_true].to_s %>
    </td> 
    <td>
      <%= check_box_tag(:red_bool_out_xsi_nil_true) %>
      <%= label_tag(:red_bool_out_xsi_nil_true, "") %>
      <%= @filter_red.filter_hash[:bool_out_xsi_nil_true].to_s %>
    </td> 
  </tr>
  <tr>
    <td>bad href with #</td>
    <td>
      <%= check_box_tag(:red_bool_in_bad_href) %>
      <%= label_tag(:red_bool_in_bad_href, "") %>
      <%= @filter_red.filter_hash[:bool_in_bad_href].to_s %>
    </td> 
    <td>
      <%= check_box_tag(:red_bool_out_bad_href) %>
      <%= label_tag(:red_bool_out_bad_href, "") %>
      <%= @filter_red.filter_hash[:bool_out_bad_href].to_s %>
    </td> 
  </tr>
</table>

    </td>
  </tr>
</table>

  <%= submit_tag("Submit") %>
  <% end %>
      <%= @scenario %>
